@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

.img {
  border-radius: 30px 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  overflow-x: hidden;
  font-family: Poppins;
  font-size: 18;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

[class*="__conteiner"] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1140px) {
  [class*="__conteiner"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__conteiner"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__conteiner"] {
    max-width: none;
  }
}

.header .header__conteiner .header__content .title, .main .main__conteiner .main__lights .main__text .main__titlegroup .main__title, .main__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.header {
  background-color: #1c1b21;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .header__background {
  background: linear-gradient(transparent 80px);
  position: absolute;
  z-index: -1;
}

.header .header__conteiner {
  min-height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__conteiner .header__logo {
  margin-right: 65px;
}

.header .header__conteiner .header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header .header__conteiner .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__conteiner .header__menu .menu__list .menu__item {
  margin-right: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.6;
  letter-spacing: 1px;
}

.header .header__conteiner .menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__conteiner .header__content .header__title {
  margin-top: 292px;
}

.header .header__conteiner .header__content .title {
  margin-bottom: 10px;
}

.header .header__conteiner .header__content .title2 {
  margin-bottom: 50px;
  color: transparent;
  /* прозрачный цвет букв transparent*/
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px #fff, 1px 1px #fff;
}

.header .header__conteiner .header__content .scroll {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__conteiner .header__content .scroll .scroll__el1 {
  margin-right: 45px;
}

.header .header__conteiner .header__content .scroll .scroll__el3 {
  top: 0;
  left: 136px;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.header .header__conteiner .header__content .list {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__conteiner .header__content .list .list__card {
  position: relative;
  margin-right: 30px;
  margin-bottom: 179px;
}

.header .header__conteiner .header__content .list .list__card .card__block {
  border-bottom-right-radius: 20px;
  padding: 21px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90px;
  min-width: 100%;
  background-color: rgba(122, 102, 204, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
}

.header .header__conteiner .header__content .list .list__card .card__block .card__text {
  line-height: 100%;
  vertical-align: Top;
  text-align: left;
}

.main {
  background-color: #1c1b21;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .main__conteiner .main__lights {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 236px;
}

.main .main__conteiner .main__lights .main__text {
  max-width: 50%;
}

.main .main__conteiner .main__lights .main__text .main__titlegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.main .main__conteiner .main__lights .main__text .main__titlegroup .main__title {
  margin-left: 30px;
}

.main .main__conteiner .main__lights .main__text .text1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 32px;
}

.main .main__conteiner .main__lights .main__text .text2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 61px;
}

.main .main__conteiner .main__lights .main__text .main__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__conteiner .main__lights .main__text .main__lists .main__list .main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: 30px;
}

.main .main__conteiner .main__lights .main__text .main__lists .main__list .main__item img {
  margin-right: 20px;
}

.main .main__conteiner .main__lights .main__img {
  padding-left: 125px;
  position: relative;
}

.main .main__conteiner .main__lights .main__img .main__img1 {
  z-index: 1;
  position: absolute;
}

.main .main__conteiner .main__lights .main__img .main__img2 {
  position: relative;
  margin-left: 95px;
  margin-top: 66px;
}

.main .main__conteiner .main__content2 {
  margin-bottom: 265px;
}

.main .main__conteiner .main__content2 .background__block {
  padding: 0px 80px;
  position: relative;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 313px;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main__conteiner .main__content2 .background__block .main__text2 .text__background {
  position: absolute;
}

.main .main__conteiner .main__content2 .background__block .main__text2 .text {
  width: 520px;
  font-size: 18px;
  line-height: 27px;
}

.main .main__conteiner .main__content2 .background__block .main__text2 .text__border {
  margin: 25px 0px;
  border: solid #fff 1px;
}

.main .main__conteiner .main__content2 .background__block .main__text2 .text__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #7a66cc;
}

.main__last-tracks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 180px;
}

.main__img4 {
  margin-top: 36px;
  width: 50%;
  margin-right: 60px;
}

.main__titlegroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  margin-left: 30px;
}

.audio__track {
  position: relative;
  margin-top: 60px;
}

.scroll {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scroll .scroll__el1 {
  margin-right: 45px;
}

.scroll .scroll__el3 {
  top: 0;
  left: 136px;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.audio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  height: 289px;
}

.audio__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audio__list li {
  font-size: 18px;
  line-height: 27px;
}

.audio__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__links {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-right: 40px;
}

.audio__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.audio__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio__links li:nth-child(1) {
  margin-right: 30px;
}

.audio__links li img {
  margin-right: 10px;
}

.audio__item.activ {
  color: #7a66cc;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.audio__numbers {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-reset: item;
}

.audio__numbers li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}

.audio__numbers li:nth-child(-n + 9)::before {
  opacity: 0.5;
  content: "0" counter(item);
  counter-increment: item;
  /* Задаём имя счетчика */
  margin-right: 20px;
}

.audio__numbers li:nth-child(n + 10)::before {
  opacity: 0.5;
  content: counter(item);
  counter-increment: item;
  /* Задаём имя счетчика */
}

.audio__num.activ {
  font-size: 18px;
  line-height: 27px;
}

.lasvegas__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 255px 255px 255px;
      grid-template-columns: 255px 255px 255px 255px;
  -ms-grid-rows: 235px 235px;
      grid-template-rows: 235px 235px;
      grid-template-areas: "LV1 LV2 LV3 LV5" "LV1 LV4 LV4 LV5";
  gap: 30px;
  margin-bottom: 180px;
}

.lasvegas__img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: LV1;
}

.lasvegas__img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: LV2;
}

.lasvegas__img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: LV3;
}

.lasvegas__img4 {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: LV4;
}

.lasvegas__img5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: LV5;
}

.img4__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #7a66cc;
  top: 100px;
  left: 112px;
  position: absolute;
}

.lasvegas__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.lasvegas__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1270px;
}

.slider-container {
  width: 1110px;
  overflow: hidden;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.card {
  margin-right: 30px;
  width: 350px;
  height: 473px;
  background: #2f2b2b;
  border-radius: 30px 0px;
  position: relative;
}

.cardHidden {
  display: none;
}

.slider__left,
.slider__right {
  margin: 0 40px;
  width: 40px;
  height: 60px;
  border: solid #fff 1px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__left img,
.slider__right img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
}

.slider__left:hover,
.slider__right:hover {
  background-color: rgba(13, 189, 13, 0.445);
}

.text {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text__title {
  margin-left: 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 20px;
}

.text__p {
  margin-left: 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.text__data {
  width: 170px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin: 0 auto;
}

.card__foot {
  right: 0;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 60px;
  background: #7a66cc;
  border-radius: 30px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  background-color: #1c1b21;
  height: 414px;
  padding-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */