*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
.img {
	border-radius: 30px 0;
}
html,
body {
	height: 100%;
	line-height: 1;
}
body {
	overflow-x: hidden;
	font-family: Poppins;
	font-size: 18;
	color: #fff;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

[class*="__conteiner"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

@media (max-width: 1140px) {
	[class*="__conteiner"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__conteiner"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__conteiner"] {
		max-width: none;
	}
}
%title {
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	color: #ffffff;
}
.header {
	background-color: rgb(28, 27, 33);
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	.header__background {
		background: linear-gradient(transparent 80px);
		position: absolute;
		z-index: -1;
	}
	.header__conteiner {
		min-height: 120px;
		align-items: center;
		display: flex;
		.header__logo {
			margin-right: 65px;
		}
		.header__menu {
			flex: 1 1 auto;
			.menu__list {
				display: flex;
				// gap: 56px; или gap или у итема margin
				align-items: center;
				.menu__item {
					margin-right: 56px;
					font-weight: 600;
					font-size: 18px;
					line-height: 0.6;
					letter-spacing: 1px;
				}
			}
		}
		.menu {
			justify-content: space-around;
			display: flex;
		}
		.header__content {
			.header__title {
				margin-top: 292px;
			}
			.title {
				@extend %title;
				margin-bottom: 10px;
			}
			.title2 {
				margin-bottom: 50px;
				color: transparent; /* прозрачный цвет букв transparent*/
				font-weight: bold;
				font-size: 100px;
				line-height: 150px;
				text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px #fff, 1px 1px #fff;
			}
			.scroll {
				position: relative;
				display: flex;
				.scroll__el1 {
					margin-right: 45px;
				}
				.scroll__el3 {
					top: 0;
					left: 136px;
					bottom: 0;
					margin: auto;
					position: absolute;
				}
			}
			.list {
				margin-top: 130px;
				display: flex;
				.list__card {
					position: relative;
					margin-right: 30px;
					margin-bottom: 179px;
					.card__block {
						border-bottom-right-radius: 20px;
						padding: 21px 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						min-height: 90px;
						min-width: 100%;
						background-color: rgba(122, 102, 204, 0.7);
						position: absolute;
						left: 0;
						bottom: 0;
						.card__text {
							line-height: 100%;
							vertical-align: Top;
							text-align: left;
						}
					}
				}
			}
		}
	}
}

.main {
	background-color: rgb(28, 27, 33);
	flex: 1 1 auto;
	.main__conteiner {
		.main__lights {
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			margin-bottom: 236px;
			.main__text {
				max-width: 50%;
				.main__titlegroup {
					display: flex;
					margin-bottom: 60px;
					.main__title {
						@extend %title;
						margin-left: 30px;
					}
				}
				.text1 {
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					opacity: 0.7;
					margin-bottom: 32px;
				}
				.text2 {
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					opacity: 0.7;
					margin-bottom: 61px;
				}
				.main__lists {
					display: flex;
					min-width: 50%;
					justify-content: space-between;
					.main__list {
						.main__item {
							display: flex;
							font-weight: 600;
							font-size: 18px;
							line-height: 27px;
							align-items: center;
							height: 30px;
							min-width: max-content;
							margin-bottom: 30px;
							img {
								margin-right: 20px;
							}
						}
					}
				}
			}
			.main__img {
				padding-left: 125px;
				position: relative;
				.main__img1 {
					z-index: 1;
					position: absolute;
				}

				.main__img2 {
					position: relative;
					margin-left: 95px;
					margin-top: 66px;
				}
			}
		}
		.main__content2 {
			margin-bottom: 265px;
			.background__block {
				padding: 0px 80px;
				position: relative;
				border: 1px solid #ffffff;
				box-sizing: border-box;
				display: flex;
				max-height: 313px;
				z-index: 0;
				align-items: center;
				justify-content: space-between;
				.main__text2 {
					.text__background {
						position: absolute;
					}
					.text {
						width: 520px;
						font-size: 18px;
						line-height: 27px;
					}
					.text__border {
						margin: 25px 0px;
						border: solid #fff 1px;
					}
					.text__link {
						font-weight: bold;
						font-size: 18px;
						line-height: 27px;
						color: #7a66cc;
					}
				}
			}
		}
	}
}

.main__last-tracks {
	display: flex;
	margin-bottom: 180px;
}
.main__img4 {
	margin-top: 36px;
	width: 50%;
	margin-right: 60px;
}
.main__text3 {
}
.main__titlegroup {
	display: flex;
}
.main__title {
	@extend %title;
	margin-left: 30px;
}
.main__content {
}
.audio__track {
	position: relative;
	margin-top: 60px;
}

.scroll {
	position: relative;
	display: flex;
	.scroll__el1 {
		margin-right: 45px;
	}
	.scroll__el3 {
		top: 0;
		left: 136px;
		bottom: 0;
		margin: auto;
		position: absolute;
	}
}

.audio__wrapper {
	display: flex;
	margin-bottom: 30px;
	margin-top: 50px;
	height: 289px;
}

.audio__list {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
	li {
		// align-items: flex-start;
		// height: 27px;
		// width: 473px;
		// margin-bottom: 20px;
		font-size: 18px;
		line-height: 27px;
	}
}
.audio__author {
	display: flex;
	align-items: center;
}
.title__links {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin-right: 40px;
}
.audio__links {
	// align-items: center;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
}
.audio__links li {
	display: flex;
	align-items: center;
}
.audio__links li:nth-child(1) {
	margin-right: 30px;
}
.audio__links li img {
	margin-right: 10px;
}

.audio__item.activ {
	color: #7a66cc;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.audio__numbers {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
	counter-reset: item;
	li {
		align-items: center;
		height: 27px;
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
		opacity: 0.5;
	}
	li:nth-child(-n + 9)::before {
		opacity: 0.5;
		content: "0" counter(item);
		counter-increment: item; /* Задаём имя счетчика */
		margin-right: 20px;
	}

	li:nth-child(n + 10)::before {
		opacity: 0.5;
		content: counter(item);
		counter-increment: item; /* Задаём имя счетчика */
	}
}

.audio__num.activ {
	font-size: 18px;
	line-height: 27px;
}

.main__lasvegas {
}
.lasvegas__img {
	display: grid;
	grid-template-columns: 255px 255px 255px 255px;
	grid-template-rows: 235px 235px;
	grid-template-areas:
		"LV1 LV2 LV3 LV5"
		"LV1 LV4 LV4 LV5";
	gap: 30px;
	margin-bottom: 180px;
}

.lasvegas__img1 {
	grid-area: LV1;
}
.lasvegas__img2 {
	grid-area: LV2;
}
.lasvegas__img3 {
	grid-area: LV3;
}
.lasvegas__img4 {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	grid-area: LV4;
}
.lasvegas__img5 {
	grid-area: LV5;
}

.img4__text {
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #7a66cc;
	top: 100px;
	left: 112px;
	position: absolute;
}

.lasvegas__slider {
	display: flex;
	align-items: center;
	margin-bottom: 180px;
}
.lasvegas__conteiner {
	display: flex;
	justify-content: center;
	max-width: 1270px;
}
.slider-container {
	width: 1110px;
	overflow: hidden;
}

.slider__track {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.card {
	margin-right: 30px;
	width: 350px;
	height: 473px;
	background: #2f2b2b;
	border-radius: 30px 0px;
	position: relative;
}

.cardHidden {
	display: none;
}

.slider__left,
.slider__right {
	margin: 0 40px;
	width: 40px;
	height: 60px;
	border: solid #fff 1px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	img {
		display: flex;
		justify-content: center;
		width: 20px;
	}
}

.slider__left:hover,
.slider__right:hover {
	background-color: rgba(13, 189, 13, 0.445);
}

.text {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.text__title {
	margin-left: 35px;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
	opacity: 0.5;
	margin-bottom: 20px;
}
.text__p {
	margin-left: 35px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
}
.text__data {
	width: 170px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	opacity: 0.5;
	margin: 0 auto;
}
.card__foot {
	right: 0;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 60px;
	background: #7a66cc;
	border-radius: 30px 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

.footer {
	background-color: rgb(28, 27, 33);
	height: 414px;
	padding-bottom: 40px;
}
